<body>
  <div>
    <section id="newBurger">
    <h1> New Burgers</h1>
    <ul>
      {{#each burgers }}
      {{#unless devoured}}
      <li>{{burger_name}} <button class="devour" value={{id}}>Devour</button></li>
      {{/unless}}
      {{/each}}
    </ul>
    </section>
    <section id="eaten">
      <h1>Eat'n</h1>
      <ul>
        {{#each burgers }}
        {{#if devoured}}
        <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </section>
    <div id="addburger">
    <form>
      <img src="/assets/img/Burger.jpg" alt="Burger" width="300" height="300">
      <h1>Add a burger</h1>
      <div class="form-group">
        <label for="burgerName">Burger Name</label>
        <input type="text" class="form-control" id="burgerName" placeholder="burger name">
      </div>
      <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>
    </div>
  </div>
</body>

<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />